Repository shabados/presenter, pull requests merged in 2020-11, with the labels that each got.

#622 fix(frontend/presenter): use source abbreviation in copy citation hotkey
  app/frontend/src/shared/CopyHotkeys.js
Labels: Effort: 0 pt, Impact: Avg, Scope: Frontend/Controller, Status: Merge

#623 feat(frontend): add inline transliterations to presenter gurmukhi
  app/frontend/package.json
  app/frontend/src/Controller/Search/Result.js
  app/frontend/src/Overlay/Line.js
  app/frontend/src/Overlay/index.js
  app/frontend/src/Presenter/Display.css
  app/frontend/src/Presenter/Display.js
  app/frontend/src/Presenter/Line.css
  app/frontend/src/Presenter/Line.js
  app/frontend/src/lib/consts.js
  app/frontend/src/lib/hooks.js
  app/frontend/src/lib/options.js
  app/frontend/src/lib/utils.js
  app/frontend/src/shared/CopyHotkeys.js
  app/lib/db.js
Labels: Effort: 21 pts, Status: Blocked

#631 feat(frontend/presenter): add options for syllabic weights and counts of gurmukhi lines
  app/frontend/src/Presenter/Line.css
  app/frontend/src/Presenter/Line.js
  app/frontend/src/lib/options.js
Labels: Effort: 1 pt, Impact: Low, Scope: Frontend/Presenter, Status: Merge, Type: Feat

#635 build: rename appId to original com.shabados.desktop
  package.json
Labels: Effort: 0 pt, Impact: Crit, Status: Merge
